*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  --clr-background: #f5f5f5;
  --clr-black: hsl(0, 0%, 7%);
  
  --ff-sans: "DM Sans", sans-serif;
  --fw-normal: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-sans);
  font-size: 1.8rem;
  background-color: var(--clr-background);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 2rem;
  font-weight: var(--fw-normal);
}

h2 {
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: 2.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.1rem;
}

.card {
  border-radius: 1rem;
  width: 32rem;
  padding: 1.5rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.card img {
  display: block;
}

.title-card {
  grid-area: box2;
  background-color: var(--clr-purple-500);
  color: var(--clr-white);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-card h1 {
  font-size: 4rem;
  font-weight: var(--fw-semi-bold);
  line-height: 4rem;
  margin-bottom: 2rem;
}

.title-card h1 span { color: var(--clr-yellow-500); }
.title-card img { width: 18rem; margin-bottom: 1rem; }
.title-card p { opacity: 0.9; }

.platforms-card { grid-area: box5; background-color: var(--clr-white); }
.platforms-card img { width: 100%; margin-bottom: 1rem; }

.posting-card { grid-area: box6; background-color: var(--clr-yellow-500); height: 20.8rem; }
.posting-card img { width: 20rem; margin-top: 1rem; }

.schedule-card { 
  grid-area: box3; 
  background-color: var(--clr-purple-100); 
  text-align: center; 
}
.schedule-card h2 { padding: 1rem 0; }
.schedule-card img { width: 100%; margin-top: 1rem; }
.schedule-card p { padding: 1rem 0; line-height: 1.8rem; opacity: 0.9; }

.grow-card { 
  grid-area: box8; 
  background-color: var(--clr-purple-500); 
  padding: 1.5rem 4.5rem; 
  text-align: center; 
}
.grow-card h2 { color: var(--clr-white); font-weight: 500; width: 80%; margin: 2rem auto 0; }
.grow-card img { width: 90%; margin: 0 auto; }

.growth-card { grid-area: box7; background-color: var(--clr-white); }
.growth-card h1 { font-size: 4rem; font-weight: var(--fw-semi-bold); }
.growth-card p { margin-bottom: 1.5rem; }
.growth-card img { width: 50%; }

.quicker-card { grid-area: box1; background-color: var(--clr-yellow-100); padding: 2rem; }
.quicker-card h2 span { color: var(--clr-purple-500); font-style: italic; }
.quicker-card img { width: 50%; margin-top: 2rem; }

.ai-card { grid-area: box4; background-color: var(--clr-yellow-500); }
.ai-card h2 { margin-bottom: 1rem; }
.ai-card img { width: 70%; }

@media only screen and (min-width: 720px) {
  .container {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
      "box1 box2" 
      "box3 box4" 
      "box5 box6" 
      "box7 box8";
  }

  .card {
    text-align: center;
    display: grid;
    place-content: center;
    padding: 2rem;
    margin: 0;
  }

  img { margin: 0 auto; }
  .posting-card { height: auto; }
  .posting-card img { width: 100%; }
}

@media only screen and (min-width: 1400px) {
  .container {
    margin: 1rem;
    grid-auto-rows: 7.5rem;
    grid-auto-columns: 25rem;
    grid-template-areas: 
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box2 box2 box3"
      "box1 box5 box6 box3"
      "box4 box5 box6 box3"
      "box4 box5 box6 box3"
      "box4 box7 box8 box8"
      "box4 box7 box8 box8"
      "box4 box7 box8 box8";
  }

  .card { width: auto; }

  .title-card h1 { font-size: 6rem; line-height: 6rem; }
  .title-card img { width: 20rem; }
  .title-card p { font-size: 2rem; }

  .quicker-card h2 { font-size: 4rem; line-height: 1; text-align: left; }
  .quicker-card img { width: 100%; margin: 2rem auto; }

  .schedule-card { display: flex; flex-direction: column; align-items: center; }
  .schedule-card h2 { font-size: 3.5rem; line-height: 1; text-align: left; margin-bottom: 1rem; }
  .schedule-card img { width: 38rem; }
  .schedule-card p { text-align: left; font-size: 2rem; margin-top: 2rem; }

  .ai-card { display: flex; flex-direction: column; }
  .ai-card h2 { font-size: 4rem; line-height: 1; text-align: left; }
  .ai-card img { margin-top: 5rem; width: 100%; }

  .platforms-card { display: flex; flex-direction: column; align-items: center; }
  .platforms-card h2 { margin-top: 1rem; text-align: left; font-size: 3rem; line-height: 1; }
  .platforms-card img { width: 30rem; }

  .posting-card { display: flex; flex-direction: column; align-items: center; }
  .posting-card h2 { font-size: 3rem; line-height: 1; text-align: left; margin-top: 1rem; position: relative; bottom: -3rem; }
  .posting-card img { position: relative; bottom: -5rem; }

  .growth-card h1 { font-size: 5rem; text-align: left; }
  .growth-card img { width: 80%; margin: 0; }
  .growth-card p { text-align: left; margin-bottom: 4rem; }

  .grow-card { display: flex; align-items: center; }
  .grow-card h2 { font-size: 3rem; line-height: 1; text-align: left; }
  .grow-card img { height: 23rem; width: auto; margin-right: 1rem; }
}